extends layout

block content
  body(class='p-2')
    div(id="overlay" style="display: none;")
    div(id="popup" style="display: none;")
      div(class="headerPopup") Theme Words
      div(class="headerPopup" id="exitMood") X
      div(id="moodText")
        div() fantasy
        div() magic
        div() mana
        div() wonder
        div() lost
        div() a world
        div() beyond
        div() escape
        div() myth
        div() lore
        div() crystal
        div() fable
        div() tale
        div() mystery
        div() discover
        div() awe
        div() a place
        div() imagine
        div() realm
        div() allegory
        div() lush
        div() adventure
        div() story
        div() parable
    form(action='./updateVotes' method='POST' class='form-registration')
      div(class="header")
        div(class="header-container")
          button(class='config btn btn-primary' type='button' id="showMood") theme
          button(class='config btn btn-primary' type='button' id="showVoted") &#128270; all
          button(class='config btn btn-primary' type='button' id="hideVoted") &#128270; unvoted
          button(class='config btn btn-primary' type='button' id="sortAbc") &#8645; abc
          button(class='config btn btn-primary' type='button' id="sortRandom") &#8645; random
          div(id="pointTotalBox")
            div(id="pointTotalCoin")
              div(id="pointTotal") 7
          button(class='btn btn-danger btn-sm') save
      main(class='containerB')
        div(class='d-flex align-items-center')
            div(class='1h-1')          
              div(class="allVoteContainer")
                each nameVote in votesToRender
                  div(id=`${nameVote.name}` class='multiButton') 
                    div(class="nameLabel") #{nameVote.name}
                    input(type='hidden' name='_id' value=`${nameVote._id}`)
                    input(type='hidden' name='name' value=`${nameVote.name}`)
                    span(class='btn downvote') &#128078;
                    span(class='btn upvote') &#128077;
                    input(type='hidden' name='vote' value=`${nameVote.vote}`)
                    input(type='hidden' name='_isDirty' value=0)
              

  script.
    document.getElementById('showMood').onclick = function (e) { 
      var x = document.getElementById("popup");
      var y = document.getElementById("overlay");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "block";
      } else {
        x.style.display = "none";
        y.style.display = "none";
      }
    }
    document.getElementById('exitMood').onclick = function (e) { 
      var x = document.getElementById("popup");
      var y = document.getElementById("overlay");
      x.style.display = "none";
      y.style.display = "none";
    }
    document.getElementById('showVoted').onclick = function (e) { 
      if(window.location.href.indexOf("hideVoted") >= 0){
        window.location.href = window.location.href.replace("hideVoted=1", "" ).replace("&", "" );;
      }
    }
    document.getElementById('hideVoted').onclick = function (e) { 
      if(!window.location.href.indexOf("hideVoted") >= 0 && window.location.href.indexOf("sort") >= 0){
        window.location.href = window.location.href.replace("?sort", "?hideVoted=1&sort" );
      }
      else if(window.location.href.indexOf("hideVoted") < 0 && window.location.href.indexOf("sort") < 0){
        window.location.href = window.location.href.replace( /[\?#].*|$/, "?hideVoted=1" );
      }
    }
    document.getElementById('sortAbc').onclick = function (e) { 
      if(window.location.href.indexOf("sortRandom") >= 0){
        window.location.href = window.location.href.replace("sortRandom", "sortAbc" );
      }
      else if(window.location.href.indexOf("sort") < 0 && window.location.href.indexOf("hideVoted") >= 0){
        window.location.href = window.location.href.concat("&sortAbc=1");
      }
      else if(window.location.href.indexOf("sort") < 0 && window.location.href.indexOf("hideVoted") < 0){
        if(window.location.href.indexOf("?") < 0){
          window.location.href = window.location.href.concat("?sortAbc=1");
        }
        else{
          window.location.href = window.location.href.replace("?", "?sortAbc=1" );
        }        
      }
    }
    document.getElementById('sortRandom').onclick = function (e) { 
      if(window.location.href.indexOf("sortAbc") >= 0){
        window.location.href = window.location.href.replace("sortAbc", "sortRandom" );
      }
      else if(window.location.href.indexOf("sort") < 0 && window.location.href.indexOf("hideVoted") >= 0){
        window.location.href = window.location.href.concat("&sortRandom=1");
      }
      else if(window.location.href.indexOf("sort") < 0 && window.location.href.indexOf("hideVoted") < 0){
        if(window.location.href.indexOf("?") < 0){
          window.location.href = window.location.href.concat("?sortRandom=1");
        }
        else{
          window.location.href = window.location.href.replace("?", "?sortRandom=1" );
        }        
      }
      else if(window.location.href.indexOf("sortRandom=1")>=0){
        window.location.href = window.location.href;
      }
    }

    var currentPoints = 0;
    for(var i in document.getElementsByClassName('multiButton')){
      var voteBox = document.getElementsByClassName('multiButton')[i];
      if(voteBox.childNodes && voteBox.childNodes.length > 6){        
        var vote = parseInt(voteBox.childNodes[6].value);
        //var idValue = parseInt(voteBox.childNodes[2].value);
        if(vote > 0){
          voteBox.childNodes[5].classList.add("selected");
        }
        else if(vote < 0){
          voteBox.childNodes[4].classList.add("selected");
        }
        if(vote != 0){
          currentPoints++;
        }
      }
    }
    document.getElementById('pointTotal').innerHTML = currentPoints;

    for(var i in document.getElementsByClassName('multiButton')){
      document.getElementsByClassName('upvote')[i].onclick = function (e) {  
        var parent = e.target.parentElement;
        var currentPoints = parseInt(document.getElementById('pointTotal').innerHTML);

        parent.childNodes[7].value = 1; 

        if(parent.childNodes[4].classList.contains("selected")){
          parent.childNodes[4].classList.remove("selected");
          parent.childNodes[5].classList.add("selected");
          parent.childNodes[6].value = 1;

          
          document.getElementById('pointTotal').innerHTML = currentPoints + 1;
        }
        else if(parent.childNodes[5].classList.contains("selected")){
          parent.childNodes[5].classList.remove("selected");
          parent.childNodes[6].value = 0;

          document.getElementById('pointTotal').innerHTML = currentPoints - 1;
        }
        else{
          parent.childNodes[5].classList.add("selected");
          parent.childNodes[6].value = 1;

          document.getElementById('pointTotal').innerHTML = currentPoints + 1;
        }
      };
      document.getElementsByClassName('downvote')[i].onclick = function (e) {  
        var parent = e.target.parentElement;
        var currentPoints = parseInt(document.getElementById('pointTotal').innerHTML);

        parent.childNodes[7].value = 1;

        if(parent.childNodes[5].classList.contains("selected")){
          parent.childNodes[5].classList.remove("selected");
          parent.childNodes[4].classList.add("selected");
          parent.childNodes[6].value = -1;

          document.getElementById('pointTotal').innerHTML = currentPoints + 1;
        }
        else if(parent.childNodes[4].classList.contains("selected")){
          parent.childNodes[4].classList.remove("selected");
          parent.childNodes[6].value = 0;

          document.getElementById('pointTotal').innerHTML = currentPoints - 1;
        }
        else{
          parent.childNodes[4].classList.add("selected");
          parent.childNodes[6].value = -1;

          document.getElementById('pointTotal').innerHTML = currentPoints + 1;
        }
      };
    }